{
  "nativeMCPServers": {
    "mcphub": {
      "disabled_tools": [
        "toggle_mcp_server"
      ],
      "disabled_resources": [
        "mcphub://docs",
        "mcphub://changelog",
        "mcphub://native_server_guide"
      ],
      "disabled_prompts": [
        "create_native_server"
      ]
    },
    "neovim": {
      "disabled_prompts": [
        "parrot"
      ]
    }
  },
  "mcpServers": {
    "nixos": {
      "command": "mcp-nixos",
      "args": []
    },
    "github": {
      "env": {
        "GITHUB_PERSONAL_ACCESS_TOKEN": "<TOKEN>"
      },
      "command": "github-mcp-server",
      "args": [
        "stdio"
      ]
    },
    "duckduckgo-mcp-server": {
      "command": "npx",
      "args": [
        "-y",
        "@smithery/cli@latest",
        "run",
        "@nickclyde/duckduckgo-mcp-server",
        "--key",
        "<TOKEN: smithery>"
      ]
    }
  }
}
